export(informationCriterion, informationCriterion.hansenBatch)
export(ouSim, ouSim.hansenBatch, ouSim.brownHansen, ouSim.ouchtree, ouSim.phylo, plot.ouSim)
export(regimeVectors, paintBranches)
export(summary.hansenBatch, print.hansenSummary)
export(isMonophyletic, nodeDescendents, mrcaOUCH)
export(runBatchHansen)
S3method(print, ouSim)
S3method(print, hansenSummary)
S3method(print, informationCriterion)
S3method(summary, hansenBatch)